* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container-full {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.info {
    display: flex;
}

.info .small-info {
    width: 30%
}

.info .big-info {
    width: 70%;
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
}

.main-nav-container nav ul li {
    display: inline-block;
}

.main-nav-container nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

header {
    background-color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columns-container > * {
    width: 31%;
    border: 1px solid grey;
    margin-bottom: 20px;
}

#plans > * {
    border: 1px solid grey;
    margin-bottom: 20px;
}

#plans > *:last-child {
    width: 100%;
}

header ul {
    display: flex;
}

header ul li {
    margin: 12px;
}

.fa-dropbox {
    color: blue;
}

.header-button {
    background-color: rgb(9, 137, 243);
    border: 0.5px solid black;
    color: white;
    height: 25px;
    width: 40px;
}

main {
    padding: 0;
    height: calc(100vh - 140px);
    background-color: white;
    padding: 20px;
}

.text {
    font-size: 16px;
    line-height: 1.6;
}

.image {
    max-width: 100%;
    height: auto;
}