* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 1%;
    padding: 1%;*/
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 12px;
}

.fa-dropbox {
    color: blue;
}

.header-button {
    background-color: rgb(9, 137, 243);
    border: 0.5px solid black;
}

main {
    padding: 20px;
    height: calc(100vh - 140px);
    background-color: blue;
}

footer {
    padding: 20px;
    background-color: rgb(105, 105, 105);
}

.my-col {
    width: calc((100% / 4) * 1);
}